<div id="comments-list"> <!--댓글 목록 영역 설정  -->
	{{#commentsDtos}} <!--댓글 목록 순회  -->
	
	<!-- 댓글 카드 만들고 id부여  -->
	<div class="card m-2" id="comments-{{id}}">
	
		<!-- 댓글 헤더 영역 설정  -->
		<div class="card-header">
			{{nickname}} <!--닉네임 보여주기  -->
			<!-- Button trigger modal --> 
			<button type="button"
            	class="btn btn-sm btn-outline-primary"
            	data-bs-toggle="modal"
            	  data-bs-target="#comment-edit-modal">수정</button>  
		</div>
		
		<!-- 댓글 본문 영역 설정  -->
		<div class="card-body">
			{{body}} <!-- 댓글 본문 보여주기  -->
		</div>
		
	</div>
	{{/commentsDtos}}
</div>

<!-- Modal -->
<div class="modal fade" id="comment-edit-modal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title" 
                    id="exampleModalLabel">댓글 수정</h1>
                <button type="button" 
                        class="btn-close" 
                        data-bs-dismiss="modal" 
                        aria-label="Close"></button>
            </div>
            <div class="modal-body">
                 <!-- 댓글 수정 폼 -->  
        		<form> 
        			<!--닉네임 입력   -->
            		<div class="mb-3"> 
            			<label class="form-label">닉네임</label>
            			<input type="text" class="form-control" id="edit-comment-nickname">
            		</div>
            		<!--댓글 본문 입력  -->
            		<div class="mb-3"> 
            			<label class="form-label">댓글 내용</label>
            			<textarea class="form-control" rows="3" id="edit-comment-body"></textarea>
            			<!-- 히든 인풋  -->
            			<input type="hidden" id="edit-comment-id">
            			<input type="hidden" id="edit-comment-article-id">
            		</div>
            		<!--전송 버튼  -->
           			<button type="button" class="btn btn-primary" id="comment-update-btn">수정 완료</button>
        			</form>
            </div>
        </div>
    </div>
</div>